<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>300888823842-4hjmh5ifneq3r3k59i7apqbn86jv66ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300888823842-4hjmh5ifneq3r3k59i7apqbn86jv66ud</string>
	<key>API_KEY</key>
	<string>AIzaSyApXzNPSj0NN1wm5iXn4BCM2I35dFGQWA4</string>
	<key>GCM_SENDER_ID</key>
	<string>300888823842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.isnrv.ISNRVhub</string>
	<key>PROJECT_ID</key>
	<string>isnrvhub-782ae</string>
	<key>STORAGE_BUCKET</key>
	<string>isnrvhub-782ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300888823842:ios:0e6d5f658fc5b213</string>
	<key>DATABASE_URL</key>
	<string>https://isnrvhub-782ae.firebaseio.com</string>
</dict>
</plist>